<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<springProfile name="default">
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="FILE"/>
		</root>

		<logger name="org.springframework.web" level="DEBUG"/>

		<!-- log4jdbc-log4j2 -->
		<logger name="jdbc.sqlonly" level="ERROR"/>
		<logger name="jdbc.sqltiming" level="INFO"/>
		<logger name="jdbc.audit" level="INFO"/>
		<logger name="jdbc.resultset" level="ERROR"/>
		<logger name="jdbc.resultsettable" level="ERROR"/>
		<logger name="jdbc.connection" level="INFO"/>
		<logger name="cf.inseoul.kang.web" level="DEBUG"/>
	</springProfile>
</configuration>